*{
    padding:0;
    margin:0;
}
button{user-select:none;
}
:root {
    --blue: #3778ac;
    --darkblue: #224e72;
    --darkerblue:#081017;
    --classic:#6277ff;
    --fruit:#ff42d9;
    --nuts:#4cc2f9;
    --unique:#c300ff;
    --contentboxcolor:#dedede;
    --question:#1b1b1b;
    --answer:#0c0c0c;
  }

html{
    display: flex;
    flex: 1;
}
body{
    display:flex;
    flex-direction: column;
    height: fit-content;
    flex:1;
}

nav{
    display: flex;
    position:fixed;
    z-index: 4;
    width:100%;
    height:80px;
    background-color: #dededeb9;
    backdrop-filter: blur(8px);
    border: none;
    box-shadow: 0px 2px 5px 5px #7a7a7a7f;
    align-items: center;
}

#logo{
    display: flex;
    margin-left: 20px;
    background-image: url("logo.png");
    mix-blend-mode: color-burn;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:95%;
    width:10%;
    user-select:none;
}
#logo:hover{
 border:2px solid #f0f0f0;
 border-radius: 10px;
}
.options{
    box-sizing: border-box;
    display: flex; /*important for button*/
    background-color: transparent; 
    border: none;
    color: #000000;
    padding: 15px 15px;
    margin-right: 6%;
    text-align: center;
    text-decoration: none;
    font-size: clamp(22px,12.5px,10px);
    font-weight:500;
    font-family: "Quicksand", sans-serif;
 
    
  }

.options:hover{
    
    transform: scale(1.2); /*letter-spacing or changing font-size on hover
    would push other buttons to the side (this is an eye sore) so use transform scale instead*/
    transition: 0.3s ease-in-out;
    cursor: pointer;
    filter:drop-shadow(4px 2px 1px #c2c2c2);
    color: var(--blue); 
}

#food{
    font-size: clamp(20px,12.5px,10px);
    display: flex;
    flex:1;
    height:fit-content;
    width: 40%;
    padding: 0% 0% 0% 1%;
    flex-shrink: 2;
    justify-content: space-evenly;
}
.search-container {
    display: flex;
    border: none;
    width:clamp(150px,200px,100px);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center; /* Vertically center the input and button */
    height: 30px;
    border: 1px solid #ccc; /* Create a basic border */
  }


  
  .search-container input[type="search"] {
    flex:0;
    padding: 0.5rem 1rem; /* Add padding for better user experience */
    font-size: 1rem; /* Set the font size */
   /* Expand the input to fill most of the form */
   outline: none; /* Remove default outline on focus */
   width: 100%;
   height: 100%;
   border: none;
   position: relative;
   background-color: #ffffffb1;
  }


  
  .search-container input:focus {
    border: none; /* Change border color on focus for better UX */
    
  }
  
  .search-container button{
    flex-shrink:0;
    padding: 0.5rem 0.5rem;
    background-color: var(--blue); /* Set a green background color */
    color: white; /* Set white text color for contrast */
    border: 1px solid var(--blue); /* Remove default button border */
    
    cursor: pointer; /* Indicate clickable behavior */
  }
  
  .search-container button:hover {
    background-color: var(--darkblue); 
  }
  
#searchAccCart{
    display: flex;
    height:fit-content;
    width: 40%; 
    flex-shrink:1;
    align-items: center;
    justify-content: flex-end;
}

.cartContainer{
    display: flex;
    font-size: 1.2em;
    margin-right: 7%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    height: 35px;
    transition: width 0.3s ease-in-out, filter 0.8s ease-in-out, color 0s ease-in-out;
    width: 40px; /* or set a specific initial width */
    background-color: var(--blue);
    color: white;
    
}
.cartContainer p{
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-family: "Baloo Bhai 2", sans-serif;
}
.cartContainer:hover {
    border-radius: 15px;
    font-weight: 100;
    box-shadow: 2px 0px 5px #7a7a7a;
    width: 80px;
    color: white;
    background-color: var(--blue);
}
.cartContainer:hover p{
    display: block;
    opacity: 1;
}

.cartContainer:active{
    color:#ffffff;
    background-color: var(--darkblue); 
    
}



content{
    width: 100%;
    height:fit-content;
    background-color: #ececec;
    
    /*background-image: url("background.png");
    background-size: contain;
    background-image: linear-gradient(to right,#ffe4ca,#facefe,#d8fcff);
    background-repeat: no-repeat; */  
}

#adDiv
{
 
 height: 450px;
 width: 100%;
 padding-top: 100px;
 padding-bottom: 20px;
 display: flex;
 justify-content: center;
 background-color: transparent;
}

#adboard {
    position:relative;
    height: 450px; /* Adjust height as needed */
    width: clamp( 90% ,90%, 688px );
    border-radius: 50px;
    border: 2px solid #606060;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    box-shadow:  inset 0px 0px  5px 5px #0000003e;
  }
  

  .sliderBtn{
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
    border:none;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #ffffff5f;
    backdrop-filter: blur(3px);
    
}
.sliderBtn:hover{
    background-color: #ffffff3c;
    backdrop-filter: blur(0px);
}

#controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    /*y axis centering*/
    top: 45%; 
    height: fit-content;
}
#prevBtn{
    position: absolute;
    left: 2%;
}
#nextBtn{
    position: absolute;
    right:2%;
}

.dotcontainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translate(-50%);
    height:8px;
    width:40px;
}

.dot{
    background-color: #ffffff;
    border-radius: 50%;
    height: 100%;
    width:8px;

}

  

#productDisplayDiv{
 display: flex;
 justify-content: center;
 height: fit-content;
 width: 100%;
 padding: 5% 0%;
 background-color: transparent;

}

#innerproductdisplaydiv{
    height:fit-content;
    width: 85vw;
    border-radius: 50px;
    border: 4px groove #ffffff;
   
    background-color: inherit;
     /*backdrop-filter: blur(4px);
    box-shadow: 3px 3px 6px 2px #787878;*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 70px;
    column-gap: 60px;
    padding: 30px;
}


html::-webkit-scrollbar {
    width: 8px; /* Adjust width for the scrollbar */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.486); /* Set scroll thumb color */
    border-radius: 10px; /* Add curvature to the thumb */
  }
  
  html::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track invisible */
  }
  
.cards {
    z-index: 2;
    background-color: #ffffff;
    height: 400px;
    box-shadow: 3px 3px 10px 2px #2f2f2f;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: calc(50px - 15px);
    color: #fff;
    flex-direction: column;
    display: inline-block; /*important for button*/
    background-color: #282828;
    overflow: hidden;
    padding-bottom: 10px;
   
}
.excludeImage{
    padding: 4%;
    height: 58%;
    box-sizing: border-box;
    background-color:#282828;
    overflow: hidden;
    
}
.productImage{
    box-sizing: border-box;
    height:45%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-image: fill 0 linear-gradient(#00000000 65%,#282828d8 99%); 
    /*adds dark gradient overlay on image from bottom dark to transparent top*/
}
#img1{
    background-image: url("cookie.png");  
}
#img2{
    background-image: url("blu.png"); 
}
#img3{
    background-image: url("rasp.png"); 
}
#img4{
    background-image: url("cot.png"); 
}
#img5{
    background-image: url("coconut.png"); 
}
#img6{
    background-image: url("mint.png"); 
}
#img7{
    background-image: url("straw.png"); 
}
#img8{
    background-image: url("mango.png"); 
}
#img9{
    background-image: url("blueBan.png"); 
}
#img10{
    background-image: url("walnut.png"); 
}
#img11{
    background-image: url("kesar.png"); 
}
#img12{
    background-image: url("vanilla.png"); 
}
#img13{
    background-image: url("water.png"); 
}
#img14{
    background-image: url("coff.png"); 
}
#img15{
    background-image: url("butter.png"); 
}
#img16{
    background-image: url("pineapple.png"); 
}
#img17{
    background-image: url("lemon.png"); 
}
#img18{
    background-image: url("Brown.png"); 
}
#img19{
    background-image: url("rainbow.png"); 
}
#img20{
    background-image: url("choco.png"); 
}
#img21{
    background-image: url("peanut.png"); 
}
#img22{
    background-image: url("cashew.png"); 
}
#img23{
    background-image: url("cheese.png"); 
}
#img24{
    background-image: url("almond.png"); 
}
.details{
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    /*font-family:"Baloo Bhai 2", sans-serif;*/
    color: #ffffff;
    margin: 2% 0% 7% 0%;  
    font-size:1em;}
.qtyfilter{
    display: flex;
    width: 100%;
    justify-content: center;
}
.filter{
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 5px;
    width: fit-content;
    height:fit-content;
}

#nuts{
    color: var(--nuts);
}
#unique{
    color: var(--unique);
}
#classic{
    color: var(--classic);
}
#fruit{
    color:var(--fruit);
}
#productName{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family:"Baloo Bhai 2", sans-serif;
    color:white;
}
#addprice{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 20%;
}
.add{
    padding: 3px;
    border: 2px solid var(--blue);
    cursor:pointer;
    color: #ffffff;
    background-color:var(--blue);
    border-radius: 12px 12px 12px 12px;
    font-size: 1.2em;
    font-weight: 400;
    font-family:"Baloo Bhai 2", sans-serif;
    margin:1% 0%;
    padding: 0px 20px;
    box-shadow: 0px 0px 7px #a1a1a1;
}
.add2{
 padding: 3px;
 border: none;
 cursor:pointer;
 background-color:var(--darkblue);
 color: white;
 border-radius: 12px 12px 12px 12px;
 font-size: 1.2em;
 font-weight: 400;
 font-family:"Baloo Bhai 2", sans-serif;
 margin:1% 0%;
 padding: 0px 20px;
 box-shadow: 0px 0px 7px #a1a1a1;
}
 .stepper {
    display: flex;
    align-items: center;
    background-color:#353535;
    border-radius: 25px;
    padding: 5px;
    width: fit-content;
  }
  
  .stepper-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #1a1a1a;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .stepper-number {
    font-size: 18px;
    margin: 0 15px;
    min-width: 20px;
    text-align: center;
    color: #ffffff;
  }



.price{
    padding: 3px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    font-size: 1.2em;
    font-weight: 400;
    font-family:"Baloo Bhai 2", sans-serif;
    margin:1% 0%;
    padding: 0px 20px;
}

#questionDiv{
    box-sizing:border-box;
    display: flex;
    height:20%;
    width: 100%;
    background-image: linear-gradient(to top,black 50%,#434343);
    justify-content: center;
    border-top: 2px solid #616161;
    padding:8% 0%;
}

#innerQuestionDiv{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 85vw;
    background-color: transparent;
    font-family: "DM Serif Display", serif;
    font-size: 5rem;
    justify-content: center;
    background-image: linear-gradient(to right,#5282ec,#a96eb8,#d56777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#questionDiv #freq{
    margin:0% 0% 5% 0%;
}
#innerQuestionDiv p{
  text-align: center;
  
}

#questionbox{
    display: flex;
    flex-direction: column;
}
.questionanswer{
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
}
.question{
    cursor: pointer;
    box-sizing: border-box;
    padding:0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    color: white;
    border: none;
    font-family: "Quicksand", sans-serif;
    /*font-family:"Baloo Bhai 2", sans-serif;*/
    font-size: 1.5rem;
}
.question:hover{
    background-color: var(--question);
}

.show{
    font-size: 2rem;
}
.answer{
    padding: 2px;
    font-size: 1.5rem;
    background-color: var(--answer);
    color: white;
    display: none;
    
}

.r{ box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 5% 7.5vw 100px 7.5vw;
    justify-content: space-between;
    width: 100%;
    height:fit-content;
    background-image: url("blackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
}
#heading{
    height: 100%;
    width:70%;
    display: flex;
    flex-direction: column;
}
#historyHeading{
 font-size: 6rem;
 font-family: "DM Serif Display", serif;
 color: white;
}
#historyText{
 color: white;
 font-family: "Quicksand", sans-serif;
}
.imgc{
    display: flex;
    width: 30%;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.imgcream{
    position: relative;
    height:90%;
    width:90%;
    background-image: url("icecream.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: iceshake;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes iceshake{
     0% {top:0px;}
    50% {top:20px;}
   100% {top:0px;}
}

footer{
  user-select:none;
  color: #7a7a7a;
  text-align: center;
  background-color: var(--darkerblue);
  height:fit-content;
  width: 100%;
  padding: 15px 0px 2% 0px;

}

.foottxt{
 display: flex;
 justify-content: space-evenly;
 border-bottom: 2px dotted #454545;
 padding-bottom: 5%;
 margin-bottom: 2%;
}

.footdiv{
 font-family: "Baloo Bhai 2", sans-serif;
 text-align: center;
 height:80px;
 width:200px;
 padding: 2% 0% 3% 0%;
}

.whitetxt{
    font-size: 20px;
    color: #ffffff;
}  
.footerLink:hover{
    color: var(--blue);
    cursor: pointer;
} 
    
.greytxt{
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1rem;
    color: #7a7a7a;
}
/*min-width targets devices screen width and min-device-width targets browser width
same for max
hence gotta mention both of them separated by comma*/
@media screen and (max-device-width: 840px), screen and (max-width: 840px){
    #historyHeading{
        font-size: 5rem;
    }
    .r{
        padding: 5% 0vw 70px 3vw;
    }
}


  @media screen and (min-device-width: 770px) and (max-device-width: 1025px), screen and (min-width: 770px) and (max-width: 1025px){
    .options{
        font-size: 17px;
    }
    .cards .details{
        display: none;
       }
    .cards{
        height: 280px;
       }
    #productName{
        font-size: 1.6rem;
       }
    #addprice{
        height: 35px;
    }
    
    .add{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .add2{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .price{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .stepper {
        font-size: 1rem;
        border-radius: 15px;
        padding: 2px;
        width: fit-content;
      }
      
      .stepper-btn {
        font-size: 1rem;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      
      .stepper-number {
        font-size: 1rem;
        margin: 0 5px;
        min-width: 12px;
      }
    
  }

  @media screen and (min-device-width: 625px) and (max-device-width: 769px), screen and (min-width: 625px) and (max-width: 769px){
   .cards .details{
    display: none;
   }
   #productName{
    font-size: 1.2rem;
   }
   .cards{
    height: 250px;
   }
   .search-container input[type="search"] {
    padding: 0.25em 0.5em;
   }
   .search-container input[type="search"]::placeholder{
    font-size: 12px;
   }
   .options{
    font-size: 14px;
    margin-right: 3%;
   }
   .add{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   .add2{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   .price{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   #food{
    width: 35%;
   }
   .imgc{
    height: 200px;
   }
   #searchAccCart{
    width:45%;
   }
   
  }
/*  @media screen and (min-device-width: 0px) and (max-device-width: 625px), screen and (min-width: 0px) and (max-width: 625px){
    body{
        display:none;
    }
   }*/

@media screen and (min-device-width: 0px) and (max-device-width: 625px), screen and (min-width: 0px) and (max-width: 625px){
    #logo{
        width:30%;
        margin-left: 10px;
    }
    #searchAccCart{
        width:70%;
    }
    .options{
        display: none;
    }
    #searchAccCart{
        width: fit-content;
    }
    .search-container {
        width:55%;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 5%;
        height: 40px;
        background-color:#ffffffb1;
      }
    
      .search-container input[type="search"] {
        padding: 0.2rem 0.5rem; /* Add padding for better user experience */
        font-size: 1rem; /* Set the font size */
       background-color: inherit;
      } 
      .search-container button{
        padding: 0.2rem 0.5rem;
        height: 100%;
        font-size: 0.8rem;
      }
      
      .search-container button:hover {
        background-color: var(--darkblue); 
      }
    .cartContainer{
        font-size: 1rem;
        padding-right: 2px;
        height: 40px;
        width: 30px;
        border-radius: 10px;
    }
    .cartContainer:hover{
        font-size: 0.9rem;
        padding-right: 4px;
        height: 40px;
        border-radius: 10px;
    }
    
    #adDiv
    { width: 100%;
    height: 200px;
     padding-top: 100px;
     padding-bottom: 20px;
    }
    
    #adboard {
        position:relative;
        height: 200px; /* Adjust height as needed */
        width:100%;
        border-radius: 0px;
        background-size: contain;
      }

    
#productDisplayDiv{  
    padding:0%;
   }
   
   #innerproductdisplaydiv{
       height:fit-content;
       width: 100%;
       border-radius: 0px;
       border: none;
       display: block;
       padding: 0px;
   }
   .cards {
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    display: flex;
    border-radius: 0px;
    flex-direction: row;
    padding:0px 10px ;
    margin-bottom: 0px;
    border-bottom:2px solid #b8b8b8 ;
    color: #000000;
    background-color: #e3e3e3;
    box-shadow: none;
    align-items: center;
}
.excludeImage{
    padding: 4% 0% 4% 2%;
    width:58%;
    height: fit-content;
    text-align: center;
    background-color: inherit;
    color: #000000;
   
    
}
.productImage{
    box-sizing: border-box;
    border-radius: 25px;
    width:45%;
    height: 80%;
    border-image: none;
}
.details{
    color: #000000;
    font-size:0.7rem; 
    font-weight: 600;
}
.filter{
    font-weight: 600;
    font-size: 0.8rem;
}
#productName{
    height: fit-content;
    line-height: 1.2;/*1.2 times font size*/
    color: #000000;
    font-size: 1.5rem;
}
#addprice{
    height: fit-content;
}
.add{
    font-size: 1.1rem;
    padding: 0px 12px;
}
.add2{
 font-size: 1.1rem;
 padding: 3px 10px;
}
.price{
    padding: 3px;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0px 10px;
}
.stepper {
    background-color: #a0a0a0;
    color: white;
    padding: 4px;
    width: fit-content;
    box-shadow: 0px 0px 7px #a1a1a1;
    border-radius: 10px;
  }
  
  .stepper-btn {
    width: 15px;
    height: 20px;
    border-radius: 40%;
    background-color: #eaeaea;
    color: black;
    font-size: 1rem;
    box-shadow: 0px 0px 7px #454545;
  }
  
  .stepper-number {
    font-size: 1rem;
    margin: 0 2px;
    color: black;
  }
  
  
    #questionDiv{
    padding: 8% 7.5vw;
  }
  
    #innerQuestionDiv{
    font-size: 2.5rem;
    width: 100%;
   }

   #innerQuestionDiv #freq{
    width: 100%;
   }
.questionanswer{
    margin-bottom: 5px;
}
.question{
    padding:0px 5px;
    font-size: 1rem;
}
.show{
    font-size: 0.8rem;
}
.answer{
    padding: 2px;
    font-size: 1rem; 
}
.r{ padding: 5% 7.5vw 70px 7.5vw;
}
#heading{
    width:100%;
}
#historyHeading{
 text-align: center;
 font-size: 2.5rem;
 width: 100%;
 
}
#historyText{
 font-size:1rem;
 width:100%;
 text-align: justify;
  text-justify: inter-word;
}
.imgc{
    display: none;
}
footer{
padding: 0px 5px;
box-sizing: border-box;
}

.footdiv{
 text-align: center;
 height:fit-content;
 width:fit-content;
 padding: 5% 1%;
}
.footdiv li{
    height: 12px;
}
.whitetxt{
    font-size: 0.8rem;
}  
.footerLink{
    font-size: 0.5rem;
} 
.greytxt{
    font-size: 0.5rem;
}
}

