*{
    padding:0;
    margin:0;
}

html{
    display: flex;
    flex: 1;
}
body{
    display:flex;
    flex-direction: column;
    height: fit-content;
    flex:1;
}

header{
    display: flex;
    position:fixed;
    z-index:4;
    width:100%;
    height:13%;
    background-color: #ffffff;
    border: 2px solid #e1e1e1;
    box-shadow: 0px 2px 5px 5px #7a7a7a7f;
    align-items: center;
}

#logo{
    display: flex;
    margin-left: 20px;;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    aspect-ratio: 1/1;
}
.options{
    box-sizing: border-box;
    display: flex; /*important for button*/
    background-color: transparent; 
    border: none;
    color: #000000;
    padding: 15px 15px;
  margin-right: 6%;
    text-align: center;
    text-decoration: none;
    font-size: clamp(22px,12.5px,10px);
    font-weight: 500;
    width:fit-content;
    font-family: "DM Sans", sans-serif;
 
    
  }

.options:hover{
    
    transform: scale(1.2); /*letter-spacing or changing font-size on hover
    would push other buttons to the side (this is an eye sore) so use transform scale instead*/
    transition: 0.3s ease-in-out;
    cursor: pointer;
    filter:drop-shadow(4px 2px 1px #c2c2c2);
    color: #303030; 
}

#food{
    font-size: clamp(20px,12.5px,10px);
    display: flex;
    flex:1;
    height:fit-content;
    width: 40%;
    padding: 0% 0% 0% 1%;
    flex-shrink: 2;
    justify-content: space-evenly;
}
.search-container {
    display: flex;
    border: none;
    width:clamp(150px,200px,100px);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center; /* Vertically center the input and button */
    height: 30px;
    border: 1px solid #ccc; /* Create a basic border */
  }


  
  .search-container input[type="search"] {
    flex:0;
    padding: 0.5rem 1rem; /* Add padding for better user experience */
    font-size: 1rem; /* Set the font size */
   /* Expand the input to fill most of the form */
   outline: none; /* Remove default outline on focus */
   width: 100%;
   height: 100%;
   border: none;
   position: relative;
   background-color: transparent;
  }


  
  .search-container input:focus {
    border: none; /* Change border color on focus for better UX */
    
  }
  
  .search-container button{
    flex-shrink:0;
    padding: 0.5rem 0.5rem;
    background-color: #6d12dc; /* Set a green background color */
    color: white; /* Set white text color for contrast */
    border: 1px solid #6d12dc; /* Remove default button border */
    
    cursor: pointer; /* Indicate clickable behavior */
  }
  
  .search-container button:hover {
    background-color: #380a70; /* Change background color on hover for better UX */
  }
  
#searchAccCart{
    display: flex;
    height:fit-content;
    width: 40%; 
    flex-shrink:1;
    align-items: center;
    justify-content: flex-end;
}

#acc{
    font-size: 1.5em;
    margin-right: 7%;
    cursor: pointer;
    
}
#acc:hover{
    transition: 0.3 ease-in-out;
    font-size: 1.6em;
    filter:drop-shadow(4px 2px 1px #cccccc);
    transition: 0.3s ease-in-out;
    color:#CB6CE6;
}
#acc:active{
    color:#3b3b3b;
    
}



content{
    
    width: 100%;
    height:fit-content;
   /*background-color: #dedede;*/
   background-image: url("background.png");
    
    background-size: contain;
   /* background-image: linear-gradient(to bottom right,#FFEEEE,#DDEFBB);
    background-repeat: no-repeat;*/
    
}
#adDiv
{position:relative;
 height: 75vh;
 width: 100%;
 margin-top: 9%;
 display: flex;
 justify-content: center;
 background-color: transparent;
}

#adboard {
    height: 75vh; /* Adjust height as needed */
    width: clamp( 90% ,90%, 688px );
    border-radius: 50px;
    border: 2px solid #606060;
    background-color: #946f3b; /* Optional background color */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    box-shadow:  inset 0px 0px  5px 5px #0000003e;

  }
  
  #adboard.active img {  /* Target images only when adboard is active */
    display: none; /* Hide all images initially */
  }
  
#productDisplayDiv{
 display: flex;
 justify-content: center;
 height: fit-content;
 width: 100%;
 margin: 5% 0%;
 background-color: transparent;
}

#innerproductdisplaydiv{
    height:fit-content;
    width: 85vw;
    border-radius: 50px;
    border: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 70px;
    column-gap: 60px;
    padding: 30px;
    background-color: #434343;
   
    box-shadow: 3px 3px 10px 2px #474747;
    
}


html::-webkit-scrollbar {
    width: 8px; /* Adjust width for the scrollbar */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.486); /* Set scroll thumb color */
    border-radius: 10px; /* Add curvature to the thumb */
  }
  
  html::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track invisible */
  }
  
.cards {
    
    background-color: #ffffff;
    height: 400px;
    box-shadow: 3px 3px 10px 2px #2f2f2f;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: calc(50px - 15px);
    color: #fff;
    flex-direction: column;
    display: inline-block; /*important for button*/
    background-color: #282828;
    overflow: hidden;
    padding-bottom: 10px;
   
}
.excludeImage{
    padding: 4%;
    height: 58%;
    box-sizing: border-box;
    background-color:#282828;
    overflow: hidden;
}
.productImage{
    box-sizing: border-box;
    height:45%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#img1{
    background-image: url("ice1.png");  
}
#img2{
    background-image: url("blu.png"); 
}
#img3{
    background-image: url("rasp.png"); 
}
#img4{
    background-image: url("cot.png"); 
}
#img5{
    background-image: url("coconut.png"); 
}
#img6{
    background-image: url("mint.png"); 
}
#img7{
    background-image: url("straw.png"); 
}
#img8{
    background-image: url("mango.png"); 
}
#img9{
    background-image: url("BluBan.png"); 
}
#img10{
    background-image: url("walnut.png"); 
}
#img11{
    background-image: url("kesar.png"); 
}
#img12{
    background-image: url("vanilla.png"); 
}
#img13{
    background-image: url("water.png"); 
}
#img14{
    background-image: url("coff.png"); 
}
#img15{
    background-image: url("butter.png"); 
}
#img16{
    background-image: url("pineapple.png"); 
}
#img17{
    background-image: url("carrot.png"); 
}
#img18{
    background-image: url("Brown.png"); 
}
#img19{
    background-image: url("rainbow.png"); 
}
#img20{
    background-image: url("choco.png"); 
}
#img21{
    background-image: url("peanut.png"); 
}
.details{
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    margin: 2% 0% 7% 0%;  
    font-size:1em;}

#filter{
    text-align: center;
    font-weight: 500;
    color: #9246f0;
    font-size: 0.9rem;
    font-family: "Emilys Candy", serif;
    margin-bottom: 5px;
    width: 100%;
    height:fit-content;
}
#productName{
    text-align: center;
    font-size: 2rem;
    font-family: "IM Fell French Canon SC", serif;   
}
#addprice{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 20%;
}
.add{
    padding: 3px;
    border: none;
    cursor:pointer;
    color: #ffffff;
    background-color: #CB6CE6;
    border-radius: 12px 12px 12px 12px;
    font-size: 1.2em;
    font-weight: 400;
    font-family:"Baloo Bhai 2", sans-serif;
    margin:1% 0%;
    padding: 0px 20px;
}
.add2{
 padding: 3px;
 border: none;
 cursor:pointer;
 background-color: #454545;
 color: #a4a4a4;
 border-radius: 12px 12px 12px 12px;
 font-size: 1.2em;
 font-weight: 400;
 font-family:"Baloo Bhai 2", sans-serif;
 margin:1% 0%;
 padding: 0px 20px;
}
 .stepper {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right,#76614d,#734a77,#466d70);
    border-radius: 25px;
    padding: 5px;
    width: fit-content;
  }
  
  .stepper-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .stepper-number {
    font-size: 18px;
    margin: 0 15px;
    min-width: 20px;
    text-align: center;
    color: #ffffff;
  }



.price{
    padding: 3px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    font-size: 1.2em;
    font-weight: 400;
    font-family:"Baloo Bhai 2", sans-serif;
    margin:1% 0%;
    padding: 0px 20px;
}


footer{
  user-select:none;
  color: #7a7a7a;
  text-align: center;
 
  border-top: 2px solid #454545;
  background-color: #000000;
  height:fit-content;
  width: 100%;
  padding: 15px 0px 2% 0px;

}

.foottxt{
 display: flex;
 justify-content: space-evenly;
 border-bottom: 2px dotted #454545;
 padding-bottom: 2%;
 margin-bottom: 2%;
}

.footdiv{
 font-family: "Baloo Bhai 2", sans-serif;
 text-align: left;
 height:80px;
 width:200px;
 padding: 2% 0% 3% 0%;
}

.whitetxt{
    font-size: 20px;
    color: #ffffff;
}  
.footerLink:hover{
    color: #e283ff;
    cursor: pointer;
} 
    
.greytxt{
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 15px;
    color: #7a7a7a;
}



  @media screen and (min-device-width: 770px) and (max-device-width: 1025px){
    .options{
        font-size: 17px;
    }
    .cards .details{
        display: none;
       }
    .cards{
        height: 280px;
       }
    #productName{
        font-size: 1.6rem;
       }
    #addprice{
        height: 35px;
    }
    
    .add{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .add2{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .price{
        font-size: 1rem;
        border-radius: 8px;
        padding: 5px;
    }
    .stepper {
        font-size: 1rem;
        border-radius: 15px;
        padding: 2px;
        width: fit-content;
      }
      
      .stepper-btn {
        font-size: 1rem;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      
      .stepper-number {
        font-size: 1rem;
        margin: 0 5px;
        min-width: 12px;
      }
    
    
  }

  @media screen and (min-device-width: 625px) and (max-device-width: 769px){
   .cards .details{
    display: none;
   }
   #productName{
    font-size: 1.2rem;
   }
   .cards{
    height: 250px;
   }
   .search-container input[type="search"] {
    padding: 0.25em 0.5em;
   }
   .search-container input[type="search"]::placeholder{
    font-size: 12px;
   }
   .options{
    font-size: 14px;
    margin-right: 3%;
   }
   .add{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   .add2{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   .price{
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
   }
   #food{
    width: 35%;
   }
   #searchAccCart{
    width:45%;
   }
   
  }
  @media screen and (min-device-width: 0px) and (max-device-width: 625px){
    body{
        display:none;
    }
   }
  
